header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: blue;
 
}

main {
 display: flex;   
 flex-direction: row;
}

#search {
background-color: teal;
color:aliceblue;

}

aside {
    display: flex;
    flex-direction: column;
}