* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: blue;
   height: 60px;
   padding: 20px;
}

main {
 display: flex;   
 flex-direction: row;
}

#search {
background-color: teal;
color:aliceblue;

}

.title {
    size: 120px;
}


aside {
    display: flex;
    flex-direction: column;
    float: left;
    
}